-- Create the products table
CREATE TABLE public.products (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    name TEXT NOT NULL,
    price NUMERIC(10,2) NOT NULL CHECK (price >= 0),
    image_url TEXT NOT NULL,
    product_link TEXT NOT NULL,
    description TEXT,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Create an index for faster queries
CREATE INDEX products_created_at_idx ON public.products(created_at DESC);

-- Enable Row Level Security
ALTER TABLE public.products ENABLE ROW LEVEL SECURITY;

-- Function to automatically update the updated_at timestamp
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = timezone('utc'::text, now());
    RETURN NEW;
END;
$$ language 'plpgsql';

-- Create trigger to update the updated_at column
CREATE TRIGGER update_products_updated_at
    BEFORE UPDATE ON public.products
    FOR EACH ROW
    EXECUTE FUNCTION update_updated_at_column();

-- Set up Row Level Security (RLS) policies

-- Allow anyone to read products
CREATE POLICY "Enable read access for all users" 
ON public.products
FOR SELECT 
TO public 
USING (true);

-- Allow only authenticated users to insert products
CREATE POLICY "Enable insert for authenticated users only" 
ON public.products
FOR INSERT 
TO authenticated 
WITH CHECK (true);

-- Allow only authenticated users to update their products
CREATE POLICY "Enable update for authenticated users only" 
ON public.products
FOR UPDATE 
TO authenticated 
USING (true)
WITH CHECK (true);

-- Allow only authenticated users to delete products
CREATE POLICY "Enable delete for authenticated users only" 
ON public.products
FOR DELETE 
TO authenticated 
USING (true);
